<div class="thread" id="t883397">
	<div class="postContainer opContainer" id="pc883397">
		<div id="p883397" class="post op">
			<div class="postInfoM mobile" id="pim883397">
				<span class="nameBlock">
					<span class="name">Anonymous</span>
					<br>
					<span class="subject"> <%= title %> </span> 
				</span>
				<span class="dateTime postNum" data-utc="1443894186">
					10/03/15(Sat)13:43:06 
					<a href="<%= comment_link %>" title="Link to this post">
						No.
					</a>
					<a href="<%= comment_link %>" title="Reply to this post">883397</a>
				</span>
			</div>
			<div class="file" id="f883397">
				<div class="fileText" id="fT883397">
					File: 
					<a title="2efd3caf65b02cd7_200266278-001.xlarger.jpg" href="<%= img_link %>" target="_blank">
						2efd3caf65b02cd7_20026627(...).jpg
					</a> (24 KB, 317x400)
				</div>
				<a class="fileThumb" href="<%= img_link %>" target="_blank">
					<img src="<%= img_link %>" alt="24 KB" data-md5="rcWPnxaqrnjbtKwYzwpXoQ==" style="height: 250px; width: 198px;">
					<div data-tip data-tip-cb="mShowFull" class="mFileInfo mobile">24 KB JPG</div>
				</a>
			</div>
			<div class="postInfo desktop" id="pi883397">
				<input type="checkbox" name="883397" value="delete"> 
				<span class="subject"><%= title %></span> 
				<span class="nameBlock">
					<span class="name">Anonymous</span> 
				</span> 
				<span class="dateTime" data-utc="1443894186">10/03/15(Sat)13:43:06</span> 
				<span class="postNum desktop">
					<a href="<%= comment_link %>" title="Link to this post">No.</a>
					<a href="<%= comment_link %>" title="Reply to this post">883397</a> &nbsp; 
					<span>[<a href="<%= comment_link %>" class="replylink">Reply</a>]</span>
				</span>
			</div>
			<blockquote class="postMessage" id="m883397"><br><%= text %> <br></blockquote>
		</div>
		<div class="postLink mobile"><span class="info">25 Replies / 8 Images</span><a href="<%= comment_link %>" class="button">View Thread</a></div>
	</div>
	<span class="summary desktop"> <%= comment_count %> omitted. <a href="<%= comment_link %>" class="replylink">Click here</a> to view.</span>

</div>